{% extends 'base.html' %}

{% block head%} 
<title>New Post</title>
{% endblock %}


{% block body%}
<h1>New Post</h1>

<hr>
<h2>Create New Blog Post:</h2>
<form action="/posts" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title" required>
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Enter Author" required>
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" placeholder="Content" aria-label="Content" rows="3" required></textarea>
    <br>
    <input class=" " type="submit" value="Post">   
</form>

{% endblock %}